body {
  margin-left: 0;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: LightSlateGray;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
}

li a:hover {
  background-color: DarkSlateGray;
}

table {
  width: 90%;
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: white;
}

table tr:nth-child(odd) {
  background-color: lightgray;
}

table th {
  color: white;
  background-color: black;
}

.active {
  background-color: MediumAquamarine;
  color: black;
  transition: background-color 0.5s;
}

.active:hover {
  background-color: LightCyan;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 4em auto;
  width: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.4);
 }


.modal-content {
  background-color: azure;
  margin: 15% auto;
  padding: 15px;
  border: 2px solid grey;
  width: 80%;
  animation-name: animatetopcenter;
  animation-duration: 0.5s
}

.close {
  color: dimgray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetopcenter {
  from {margin-top: -10%; opacity: 0}
  to {margin-top: 15%; opacity: 1}
}

.tab {
  overflow: hidden;
  border: 1px solid lightgray;
  background-color: white;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: whitesmoke;
}

.tab button.activeTab {
  background-color: lightgray;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid lightgray;
  border-top: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

div.gallery {
  margin: 5px;
  border: 1px solid lightgray;
  float: left;
  width: 180px;
}

div.gallery:hover {
  background-color: gray;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}